/* .btn {
    background-color: #2f855a;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: auto;
} */
/* .btn {
    background: linear-gradient(to right, #2f855a, yellowgreen);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: auto;
} */


.btn {
    background: linear-gradient(to right, #8bc34a, #4caf50);
    color: white;
    border: none;
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    font-family: 'Helvetica Neue';
}

.btn:hover {
    transform: scale(1.1);
}