.header-container {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .nav-bar {
    list-style-type: none;
    display: flex; /* Flexbox를 사용하여 가로 정렬 */
    justify-content: right; /* 가운데 정렬 */
    align-items: center;
    padding: 0;
    margin: 10px;
    
  }
  
  .nav-bar li {
    margin: 0 10px;
  }
  
  .nav-bar li a {
    text-decoration: none;
    color: #333;
  }
  
  .nav-bar li a:hover {
    color: #958484;
  }
  
  .logo {
    align-items: center;
    width: 20px;
  }