.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    border: none;
    background: transparent;
    font-size: 23px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination .page-numbers-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 10px;
  }
  
  .pagination .page-numbers {
    display: flex;
    justify-content: center;
  }
  
  .pagination button.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #000000;
  }