.login-title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: xx-large;
    font-weight: 600;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-input {
    margin-bottom: 10px;
    font-size: 1em;
    width: 380px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.login-btn {
    background-color: green;
    color: white;
    font-weight: 700;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 380px;
    padding: 17px 0px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-bottom: 30px;
}

.login-link a {
    text-decoration: none;
    color: #333;
}

.login-link a:hover {
    color: green;
}

.login-kakao {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 15px;
    width: 380px;
    line-height: 16px;
    border-radius: 5px;
    margin-bottom: 300px;
}